.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    margin: 10px 0;
}
.completed{
    text-decoration: line-through;
    color: #d668e9;
}
.delete{
    background-color: red;
    border: 1px solid red;
}